@import "../_variables.scss";

//~~~~~~~~~ Main Layout ~~~~~~~~~//

* {
    margin: 0;
    padding: 0;
}

.pageSize {
    padding: 0 10px 10px 75px;
    height: 100vh;
}

.bk-colour-grey {
    background-color: $cream !important;
}

.overflow {
    overflow-y: auto;
}

.card.bk-colour-grey {
    background-color: $cream !important;
    border: none !important;
    height: 100vh;
}

.main-table {
    border-radius: 0.5rem !important;
    background-color: $white;
    margin-bottom: 2px;
    border-top: none !important;
}

.shadow {
    box-shadow: 4px 4px 4px $shadow !important;
}

h2.main-header {
    color: $purple;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
}

@mixin background-colour( $lightBlue: true) {
    @if $lightBlue {
        background-color: $lightBlue;
        color: $blue !important;
        font-size: $font-size-base;
        font-weight: bold;
    } @else {
        color: $grey;
        font-weight: 400;
    }
}

.font-colour {
    @include background-colour(false);
}

.font-change.opened {
    @include background-colour(#e5eff3);
}

.no-border-bottom {
    border-bottom: none !important;
}

.height-reset {
    height: 100% !important;
    margin: 1em !important;
}

.link-text {
    color: $grey;
}

.link-text:hover {
    color: $blue;
}

//~~~~~~~~~ Table ~~~~~~~~~//

.header-font {
    font-weight: bold;
    font-size: $font-size-base;
    text-transform: uppercase;
    color: $grey;
}

.font-change {
    border-bottom: 1px solid $cream !important;
    color: $grey;
}

.table-flex-header, .table-flex-opened {
    display: flex;
    padding: 10px;
}

.table-flex-expanded {
    display: flex;
    padding: 30px 140px !important;
    flex-wrap: wrap;

    span {
        display: block;
    }
}

.items-opened, .items-header {
    align-self: center;
    padding: 20px;
}

.items-opened {
    font-size: $font-size-base;
}

%items {
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    color: $blue;
    margin-right: 100px;

    span {
        font-weight: normal !important;
        font-size: $font-size-base !important;
        text-transform: none !important;
        padding-top: 5px;
        color: $grey;
    }
}

.items-expanded {
    @extend %items;
    flex: 1 1 21%;
}

.items-expanded-full-width {
    @extend %items;
    flex: 1 1 100% !important;
    border-top: 1px solid $blue !important;
    padding: 10px 0;
}

.knowledgeBaseDescription {
    background-color: $white !important;
    overflow: hidden !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px 0 0 0 !important;
    font-weight: normal !important;
    font-size: 0.9rem !important;
    text-transform: none !important;
    margin-top: 10px;
}

b-form-textarea.form-control {
    border: none !important;
    border-top: 1px solid $blue !important;
    border-radius: 0 !important;
    outline: none !important;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.flex6 {
    flex: 6;
}

.first-column {
    font-weight: bold;
}

//~~~~~~~~~ Symbols ~~~~~~~~~//

#plus-symbol, #pencil-symbol, #trash-symbol, #dash-symbol {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

//~~~~~~~~~ Buttons ~~~~~~~~~//

%button {
    color: $white;
    cursor: pointer;
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    height: 45px;
}

.selected {
    background-color: $orange !important;
    border: 2px solid $orange !important;
}

.green-btn {
    @extend %button;
    background-color: $green;
    border: 2px solid $green;
}

.green-btn:hover {
    background-color: $yellow;
    border: 2px solid $yellow;
}

.blue-btn {
    @extend %button;
    background-color: $blue;
    border: 2px solid $blue;
}

.blue-btn:hover {
    background-color: $orange;
    border: 2px solid $orange;
}

.purple-btn {
    @extend %button;
    background-color: $purple;
    border: 2px solid $purple;
}

.purple-btn:hover {
    background-color: $orange;
    border: 2px solid $orange;
}

.orange-btn {
    @extend %button;
    background-color: $orange;
    border: 2px solid $orange;
}

.orange-btn:hover {
    background-color: $yellow;
    border: 2px solid $yellow;
}

.red-btn {
    @extend %button;
    background-color: $red;
    border: 2px solid $red;
}

.grey-btn {
    @extend %button;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: $grey;
    cursor: default !important;
}

//~~~~~~~~~ Search Feature ~~~~~~~~~//

.search-header {
    display: flex;
    flex-wrap: wrap;
}

.search-image {
    flex: 1 1;
}

.search-text {
    flex: 50 1;
}

.search-padding {
    padding: 30px 37px;
}

.form-control {
    width: 85% !important;
    border: 0 !important;
    border-radius: 0 !important;
    transition: none !important;
    outline: none !important;
    box-shadow: none;
}

.form-control:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.input-styling {
    cursor: pointer;
    height: 50%;
    color: $grey !important;
    border-bottom: 1px solid $grey !important;
    margin-left: 1rem;
}

.form-row {
    margin: 0 137px !important;
    padding-bottom: 15px;
}

.dropdown-alignment {
    text-align-last: left;
}

.search-btn {
    margin-right: 10.4%;
}

.reset-btn {
    margin-right: 20px;
}

.search-btn-full-width {
    margin-right: 5%;
}

.OS-label {
    margin-left: 96px;
}

.col-form-label {
    padding-top: calc(0.375rem + 10px) !important;
}

.asset-register-padding {
    padding: 20px;
}

//~~~~~~~~~ Create & Edit Modals ~~~~~~~~~//

.form-flex {
    display: flex;
    flex-direction: column;
}

.form-flex-item {
    @extend .header-font;
    display: flex;
    border-bottom: 1px solid $grey;

    > * {
        margin: 0 1em;
        flex-basis: 18%;
    }
}

.form-flex-item-job {
    @extend .header-font;
    display: flex;
    border-bottom: 1px solid $grey;

    > * {
        margin: 0 1em;
    }
}

.form-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@mixin form-fields {
    text-align: left;
    cursor: pointer;
    color: $grey;
    text-align-last: left;
}

.form-field {
    @include form-fields;
    flex-basis: 100%;
    border: none;
    outline: none;
    height: 50px;
}

select.form-field {
    background: $white none !important;
}

.form-field-job {
    @include form-fields;
    height: 45px;
    padding-left: 10px;
}

.remove-border {
    border: none !important;
}

.modal-title {
    color: $purple;
    text-align: center !important;
    font-size: 1.75rem !important;
    font-weight: bold !important;
}

.modal-header {
    display: block !important;
    align-items: center !important;
}

.modal-body {
    @extend .header-font;
}

//~~~~~~~~~ Delete and Error Modals ~~~~~~~~~//

.delete-title {
    background-color: $orange;
    color: $white;
    text-align: center !important;
}

.error-title {
    background-color: $red;
    color: $white;
    text-align: center !important;
}

.modal-title-delete, .modal-title-error {
    text-align: center !important;
    font-size: 1.75rem !important;
    font-weight: bold !important;
}

.modal-body-text {
    font-size: 1.25rem;
    color: $grey;
    text-align: center;
    margin: 50px 30px 40px 30px;
}

//~~~~~~~~~ Loading Spinner ~~~~~~~~~//

.loadingSpinner {
    position: relative;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $offWhite;
    background-image: url(/../images/SharedImages/spinner.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.loader-print-manager {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/../images/SharedImages/spinner.gif);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

//~~~~~~~~~ Pagination ~~~~~~~~~//

.page-item .page-link {
    color: $purple !important;
    background-color: $white !important;
    font-weight: bold !important;
    border-color: $purple !important;
}

.page-item.active .page-link {
    z-index: 4 !important;
    color: $white !important;
    font-weight: bold !important;
    background-color: $purple !important;
    border-color: $purple !important;
}

.page-item.disabled .page-link {
    z-index: 4 !important;
    color: $white !important;
    font-weight: bold !important;
    background-color: $cream !important;
    border-color: $cream !important;
}

.b-pagination-pills .page-item .page-link {
    margin-left: 1rem !important;
}

//~~~~~~~~~ Validations ~~~~~~~~~//

.validation-error {
    color: red;
    text-transform: none;
}

#create-button-knowledge-base:disabled,
#create-button-user-stations:disabled,
#create-button-office-users:disabled,
#create-button-asset-register:disabled,
#edit-button-knowledge-base:disabled,
#edit-button-user-stations:disabled,
#edit-button-office-users:disabled,
#edit-button-asset-register:disabled,
.disabled:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

// Sub-Menu Tiles

@mixin card-backgrounds {
    color: $white;
    opacity: 0.9;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: auto auto 1.5rem auto;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
        flex-basis: 100%;
    }
}

.orange-tile {
    @include card-backgrounds;
    background-color: $orange;
}

.green-tile {
    @include card-backgrounds;
    background-color: $green;
}

.purple-tile {
    @include card-backgrounds;
    background-color: $purple;
}

.teal-tile {
    @include card-backgrounds;
    background-color: $teal;
}

.border-green {
    border: $green 5px solid;
    border-radius: 2px;
}

.border-amber {
    border: $orange 5px solid;
    border-radius: 2px;
}

.border-red {
    border: $red 5px solid;
    border-radius: 2px;
}

.count-font {
    font-weight: bold;
    font-size: 1.12em;
    color: $grey;
}

.card-row {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.caret-green {
    position: relative;
}

.caret-green:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    border-top: 11px solid $green;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.caret-green:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    border-top: 0 solid #fff;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
}

.caret-red {
    position: relative;
}

.caret-red:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    border-bottom: 11px solid $red;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.caret-red:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    border-bottom: 0 solid #fff;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
}

.line-grey {
    position: relative;
    top: 3px;
}

.line-grey:before {
    content: '';
    position: absolute;
    width: 18px;
    top: 3px;
    left: 10px;
    border: 3px solid #807e7e;
    display: inline-block;
}


