// Body
$body-bg: #f8fafc;

// Typography
$font-family-ariel: 'Ariel', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$white: #fff;
$offWhite: #eceaea;
$cream: #f2f2f2;
$shadow: #ccc;
$grey: #666;
$black: #000;
$light-blue: #e5eff3;
$blue: #006487;
$lightPurple: #513663;
$purple: #5a3090;
$darkPurple: #3B2748;
$red: #dc3545;
$orange: #f38e20;
$yellow: #FDCD08;
$green: #8cc63f;
$teal: #0DADBC;

// Animations
$mover: mover 0.3s infinite alternate;
